.nav-link.active {
    border: 1px solid chocolate;
    border-radius: 8px;
    color: chocolate !important;
}

.nav-link {
    color: var(--main-paragraph-color);
}

.nav-link:hover {
    color: chocolate;
}


.logout-btn {
  width: 100%;
  margin-top: 20px;
  /* display: block; */
}

/* تصميم متجاوب */
@media (max-width: 768px) {
  .logout-btn {
    font-size: 0.8rem;
    padding: 8px;
  }
}

.navEdit {
      display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}